@import './font.scss';
@import './custom-boostrap.scss';
@import './variables.scss';
@import './form.scss';

:root {
  --font-size-sm: #{$font-size-sm};
  --font-size-base: #{$font-size-base};
  --font-size-lg: #{$font-size-lg};
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.subtitle {
  font-family: $font-subtitle;
}

.font-size-sm {
  font-size: var(--font-size-sm);
}